<!-- @format --> 

<template>
  <v-main class="list">
    <h1 align="center" class="mb-5">Tabel KRS Baru</h1>
    <v-card>
      <v-card-title>
        <v-text-field
          v-model="search"
          append-icon="mdi-magnify"
          label="Search"
          single-line
          hide-details
        >
        </v-text-field>
        <v-spacer></v-spacer>
        <v-btn color="success" dark @click="insertData(selected)">
          Insert to moodle
        </v-btn>
      </v-card-title>
      <v-data-table
        v-model="selected"
        :search="search"
        :headers="headers"
        :items="data"
        item-key="ID_KRS"
        show-select
        class="elevation-1"
        :loading="loadTable"
        loading-text="Load data..Please Wait!"
      >
        >
      </v-data-table>
    </v-card>

    <v-dialog v-model="dialogConfirm" persistent max-width="400px">
      <v-card>
        <v-card-title>
          <span class="headline">Confirmation</span>
        </v-card-title>
        <v-card-text> Anda yakin ingin input? </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="red darken-1" text @click="dialogConfirm = false">
            Cancel
          </v-btn>
          <v-btn color="green darken-1" text @click="insertData(selected)">
            Input
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <v-snackbar v-model="snackbar" :color="color" timeout="2000" bottom>
      {{ error_message }}
    </v-snackbar>
  </v-main>
</template>

<script>
export default {
  name: "List",
  data() {
    return {
      selected: [],
      inputType: "Tambah",
      load: false,
      loadTable: true,
      snackbar: false,
      error_message: "",
      color: "",
      search: null,
      dialogConfirm: false,
      valid: true,
      headers: [
        { text: "ID Prodi", align: "start", sortable: true, value: "ID_PRODI_BUAT" },
        { text: "Semester", value: "NO_SEMESTER" },
        { text: "NPM", value: "NPM" },
        { text: "Kode Matkul", value: "KODE_MK" },
        { text: "Kelas", value: "KELAS" },
      ],
      user: new FormData(),
      types: [],
      data: [],
      form: {
        idperiode: null,
        name: null,
        description: null,
        type: null,
        datestart: null,
        datefinish: null,
      },
      deleteId: "",
      editId: "",
    };
  },
  methods: {
    setForm() {
      if (this.inputType === "Tambah") {
        this.save();
      } else {
        this.update();
      }
    },
    readData() {
      this.prodi = localStorage.getItem("prodi");
      this.user.append('prodi', this.prodi); 
      var url = this.$api + `/krs_baru`;
      this.$http.post(url, this.user, {
          headers: {
            'Authorization': 'Bearer ' + localStorage.getItem('token')
          }
        })
        .then((response) => {
          this.data = response.data.data;
          this.loadTable = false;
        });
    },
    insertData(selected) {
      var url = this.$api + "/insertkrs_student";
      this.load = true;
      this.$http
        .post(url, selected, {
          headers: {
            Authorization: "Bearer " + localStorage.getItem("token"),
          },
        })
        .then((response) => {
          this.error_message = response.data.message;
          this.color = "green";
          this.snackbar = true;
          this.load = false;
          this.close();
          this.readData(); //mengambil data
          this.resetForm();
          this.reloadPage();
        })
        .catch((error) => {
          this.error_message = error.response.data.message;
          this.color = "red";
          this.snackbar = true;
          this.load = false;
        });
    },
    reloadPage() {
      window.location.reload();
    },
    close() {
      this.dialog = false;
      this.resetForm();
      this.dialogEdit = false;
      this.dialogmax = false;
      this.dialogConfirm = false;
      this.inputType = "Tambah";
    },
    cancel() {
      this.resetForm();
      this.readData();
      this.dialog = false;
      this.inputType = "Tambah";
    },

    resetForm() {
      this.form = {
        idperiode: null,
        name: null,
        description: null,
        type: null,
      };
    },
  },
  computed: {
    formTitle() {
      return this.inputType;
    },
  },
  mounted() {
    this.readData();
  },
};
</script>

<style scoped>
.styled-input {
  width: 230px;
}
@media (min-width: 56.25em) {
  /* 900px */
  .flex-parent {
    display: flex;
  }
}
.flex-child {
  flex: 1 1 0;
}
</style>