<!-- @format --> 

<template>
  <v-main class="list">
    <h1 align="center" class="mb-5">Tabel KRS Dosen</h1>
    <v-card>
      <v-card-title>
        <v-text-field
          v-model="search" 
          append-icon="mdi-magnify"
          label="Search" 
          single-line 
          hide-details>
        </v-text-field> 
        <v-spacer></v-spacer>
        <v-btn color = "success" dark @click="dialogInsert = true">
            Input Dosen Manual
          </v-btn>
          <v-btn color = "success" dark @click="insertData(selected)">
            Insert to moodle
          </v-btn> 
      </v-card-title>
      <v-data-table
        v-model="selected"
        :search="search"
        :headers="headers"
        :items="data"
        item-key="ID_KELAS"
        show-select
        class="elevation-1"
        :loading="loadTable"
        loading-text="Load data..Please Wait!">
      >
    </v-data-table>
    </v-card>

    <v-dialog v-model="dialogConfirm" persistent max-width="400px">
            <v-card>
                <v-card-title>
                    <span class="headline">Confirmation</span> 
                </v-card-title>
                <v-card-text>
                    Anda yakin ingin input?
                </v-card-text>
                <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn color="red darken-1" text @click="dialogConfirm = false">
                        Cancel
                    </v-btn>
                    <v-btn color="green darken-1" text @click="insertData(selected)"> 
                        Input
                    </v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>

      <v-dialog v-model="dialogInsert" persistent max-width="600px">
      <v-card class="font">
        <v-card-title> {{ inputType }} Enroll Manual Dosen/Asdos </v-card-title>
        <v-card-text>
          <v-form ref="form" v-model="valid" lazy-validation>
            <div class="container">
              <v-text-field
                v-model="form.idkelas"
                label="ID Kelas"
                outlined
                dense
                hint="Contoh: 114562"
                single-line
                persistent-hint
                class="item font mx-2"
              ></v-text-field>
              <v-text-field
                v-model="form.idprodi"
                label="ID Prodi"
                outlined
                dense
                hint="Contoh: 05"
                single-line
                persistent-hint
                class="item font mx-2"
              ></v-text-field>
              <v-text-field
                v-model="form.tahun"
                label="Tahun Akademik"
                outlined
                dense
                hint="Contoh: 2021"
                single-line
                persistent-hint
                class="item font mx-2"
              ></v-text-field>
              <v-text-field
                v-model="form.semester"
                label="Semester"
                outlined
                dense
                hint="Contoh: 2"
                single-line
                persistent-hint
                class="item font mx-2"
              ></v-text-field>
              <v-text-field
                v-model="form.keterangan"
                label="Keterangan Semester"
                outlined
                dense
                hint="Contoh: (Gasal/Genap/Sisipan)"
                single-line
                persistent-hint
                class="item font mx-2"
              ></v-text-field>
              <v-text-field
                v-model="form.kodemk"
                label="Kode Mata Kuliah"
                hint="Contoh: INF30921"
                outlined
                single-line
                persistent-hint
                dense
                class="item font mx-2"
              ></v-text-field>
              <v-text-field
                v-model="form.kelas"
                label="Kelas"
                outlined
                dense
                hint="Contoh: A/B/H/J"
                single-line
                persistent-hint
                class="item font mx-2"
              ></v-text-field>
              <v-text-field
                v-model="form.namamk"
                label="Nama Mata Kuliah"
                outlined
                dense
                hint="Contoh: Sistem Informasi Pengantar"
                single-line
                persistent-hint
                class="item font mx-2"
              ></v-text-field>
              <v-text-field
                v-model="form.sks"
                label="SKS"
                outlined
                dense
                hint="Contoh: 2/3"
                single-line
                persistent-hint
                class="item font mx-2"
              ></v-text-field>
              <v-text-field
                v-model="form.npp"
                label="NPP/NPM"
                outlined
                dense
                hint="Contoh: 180709999"
                single-line
                persistent-hint
                class="item font mx-2"
              ></v-text-field>
            </div>
          </v-form>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="blue darken-1" text @click="close()"> Cancel </v-btn>
          <v-btn color="blue darken-1" text @click="insertManual()">
            Save
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <v-snackbar v-model="snackbar" :color="color" timeout="2000" bottom>
      {{ error_message }}
    </v-snackbar>
  </v-main>
</template>

<script>
export default {
  name: "List",
  data() {
    return {
      selected: [],
      inputType: "Tambah",
      load: false,
      loadTable: true,
      snackbar: false,
      error_message: "",
      color: "",
      search: null,
      dialogConfirm: false,
      dialogInsert: false,
      valid: true,
      headers: [
        { text: "ID Kelas", align: "start", sortable: true, value: "ID_KELAS" },
        { text: "ID Prodi", value: "ID_PRODI_BUAT" },
        { text: "ID Matkul", value: "ID_MK" },
        { text: "Kelas", value: "KELAS" },
        { text: "Tahun Akademik", value: "ID_TAHUN_AKADEMIK" },
        { text: "Semester", value: "NO_SEMESTER" },
        { text: "Kode Matkul", value: "KODE_MK" },
        { text: "Nama Matkul", value: "NAMA_MK" },
        { text: "NPP Dosen 1", value: "NPP_DOSEN1" },
        { text: "NPP Dosen 2", value: "NPP_DOSEN2" },
        { text: "NPP Dosen 3", value: "NPP_DOSEN3" },
        { text: "NPP Dosen 4", value: "NPP_DOSEN4" },
        { text: "Jumlah SKS", value: "SKS" },
        { text: "Semester Akademik", value: "keterangan" },
      ],
      user: new FormData(),
      dosen: new FormData(),
      types: [],
      data: [],
      form: {
        idkelas: null,
        idprodi: null,
        tahun: null,
        semester: null,
        keterangan: null,
        kodemk: null,
        kelas: null,
        namamk: null,
        sks: null,
        npp: null,
      },
      deleteId: "",
      editId: "",
    };
  },
  methods: {
    setForm() {
      if (this.inputType === "Tambah") {
        this.save();
      } else {
        this.update();
      }
    },
    readData() {
      this.prodi = localStorage.getItem("prodi");
      this.user.append('prodi', this.prodi); 
      var url = this.$api + `/krs_dosen_baru`;
      this.$http.post(url, this.user, {
          headers: {
            'Authorization': 'Bearer ' + localStorage.getItem('token')
          }
        })
        .then((response) => {
          this.data = response.data.data;
          this.loadTable = false;
        });
    },
    insertManual(){
      this.dosen.append("ID_KELAS", this.form.idkelas);
      this.dosen.append("ID_PRODI_BUAT", this.form.idprodi)
      this.dosen.append("ID_TAHUN_AKADEMIK", this.form.tahun);
      this.dosen.append("NO_SEMESTER", this.form.semester);
      this.dosen.append("keterangan", this.form.keterangan);
      this.dosen.append("KODE_MK", this.form.kodemk);
      this.dosen.append("KELAS", this.form.kelas);
      this.dosen.append("NAMA_MK", this.form.namamk);
      this.dosen.append("SKS", this.form.sks);
      this.dosen.append("NPP_DOSEN1", this.form.npp);
      var url = this.$api + '/insertkrs_dosenmanual'
      this.load = true
      this.$http.post(url, this.dosen, {
          headers: {
            'Authorization': 'Bearer ' + localStorage.getItem('token')
          }
      }).then(response => {
        this.error_message=response.data.message;
        this.color="green"
        this.snackbar=true; 
        this.load = false;
        this.close();
        this.readData(); //mengambil data
        this.resetForm();
        this.reloadPage();
      }).catch(error => { 
        this.error_message=error.response.data.message;
        this.color="red" 
        this.snackbar=true;
        this.load = false;
      })
    },
    insertData(selected){
      var url = this.$api + '/insertkrs_dosen'
      this.load = true
      this.$http.post(url, selected, {
          headers: {
            'Authorization': 'Bearer ' + localStorage.getItem('token')
          }
      }).then(response => {
        this.error_message=response.data.message;
        this.color="green"
        this.snackbar=true; 
        this.load = false;
        this.close();
        this.readData(); //mengambil data
        this.resetForm();
        this.reloadPage();
      }).catch(error => { 
        this.error_message=error.response.data.message;
        this.color="red" 
        this.snackbar=true;
        this.load = false;
      })
    },
    reloadPage(){
      window.location.reload()
    },
    close() {
      this.dialog = false;
      this.resetForm();
      this.dialogEdit = false;
      this.dialogmax = false;
      this.dialogConfirm = false;
      this.dialogInsert = false;
      this.inputType = "Tambah";
    },
    cancel() {
      this.resetForm();
      this.readData();
      this.dialog = false;
      this.inputType = "Tambah";
    },

    resetForm() {
      this.form = {
        idperiode: null,
        name: null,
        description: null,
        type: null,
      };
    },
  },
  computed: {
    formTitle() {
      return this.inputType;
    },
  },
  mounted() {
    this.readData();
  },
};
</script>

<style scoped>
.styled-input {
  width: 230px;
}
@media (min-width: 56.25em) {
  /* 900px */
  .flex-parent {
    display: flex;
  }
}
.flex-child {
  flex: 1 1 0;
}
</style>