<!-- @format --> 

<template>
  <v-main class="list">
    <h1 align="center" class="mb-5">Tabel Dosen Moodle</h1>
    <v-card>
      <v-card-title>
        <v-text-field
          v-model="search"
          append-icon="mdi-magnify"
          label="Search"
          single-line
        >
        </v-text-field>
        <v-spacer></v-spacer>
          <v-btn color="success" dark @click="setLaporan()">
            Export Excel
          </v-btn> 
      </v-card-title>
      <v-data-table :headers="headers" :items="data" :search="search" :loading="loadTable"
        loading-text="Load data..Please Wait!">
        <template v-slot:[`item.actions`]="{ item }">
            <v-btn color="success" dark @click="editHandler(item)"
            :disabled="item.email!==''">
              Input Email
            </v-btn> 
        </template>
      </v-data-table>
    </v-card>

    <v-dialog v-model="dialogemail" persistent max-width="600px">
      <v-card class="font">
        <v-card-title> {{ inputType }} Email Dosen </v-card-title>
        <v-card-text>
          <v-form ref="form" v-model="valid" lazy-validation>
            <div class="container">
              <v-text-field
                v-model="form.email"
                label="Email Dosen"
                outlined
                dense
                class="item font mx-2"
              ></v-text-field>
            </div>
          </v-form>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="blue darken-1" text @click="close()"> Cancel </v-btn>
          <v-btn color="blue darken-1" text @click="updateemail()">
            Save
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <v-snackbar v-model="snackbar" :color="color" timeout="2000" bottom>
      {{ error_message }}
    </v-snackbar>
  </v-main>
</template>

<script>
export default {
  name: "List",
  data() {
    return {
      inputType: "Input",
      load: false,
      snackbar: false,
      error_message: "",
      loadTable: true,
      color: "",
      search: null,
      dosen: new FormData(),
      dialog: false,
      dialogReport: false,
      dialogemail: false,
      valid: true,
      headers: [
        { text: "NPP", align: "start", sortable: true, value: "idnumber" },
        { text: "Nama", value: "full_name" },
        { text: "Email", value: "email" },
        { text: "Alamat", value: "address" },
        { text: "Input Email", value: "actions" }, 
      ],
      tahun: [],
      semester: [],
      data: [],
      form: {
        email: null,
      },
      deleteId: "",
      editId: "",
    };
  },
  methods: {
    readData() {
      var url = this.$api + `/dsn_moodle`;
      this.$http
        .get(url, {
          headers: {
            Authorization: "Bearer " + localStorage.getItem("token"),
          },
        })
        .then((response) => {
          this.data = response.data.data;
          this.loadTable = false;
        })
    },
    setLaporan() {
      window.open(
        `${this.$api}/export_dosen?`,
        "_blank"
      );
      this.close();
      this.readData(); //mengambil data
      this.resetForm();
    },
    editHandler(item){
      this.inputType = 'Ubah';
      this.editId = item.idnumber;
      this.form.email = item.email;
      this.dialogemail = true;
    },
    updateemail() {
      this.dosen.append("email", this.form.email);
      var url = this.$api + "/updateemail/" + this.editId;
      this.load = true;
      this.$http
        .post(url, this.dosen, {
          headers: {
            Authorization: "Bearer " + localStorage.getItem("token"),
          },
        })
        .then((response) => {
          this.error_message = response.data.message;
          this.color = "green";
          this.snackbar = true;
          this.load = false;
          this.close();
          this.readData(); //mengambil data
          this.resetForm();
        })
        .catch((error) => {
          this.error_message = error.response.data.message;
          this.color = "red";
          this.snackbar = true;
          this.load = false;
        });
    },
    close() {
      this.dialog = false;
      this.resetForm();
      this.dialogEdit = false;
      this.dialogmax = false;
      this.dialogConfirm = false;
      this.dialogReport = false;
      this.dialogemail = false;
    },
    cancel() {
      this.resetForm();
      this.readData();
      this.dialog = false;
    },

    resetForm() {
      this.form = {
        email: null,
      };
    },
  },
  computed: {
    formTitle() {
      return this.inputType;
    },
  },
  mounted() {
    this.readData();
  },
};
</script>

<style scoped>
.styled-input {
  width: 230px;
}
@media (min-width: 56.25em) {
  /* 900px */
  .flex-parent {
    display: flex;
  }
}
.flex-child {
  flex: 1 1 0;
}
</style>