<!-- @format --> 

<template>
  <v-main class="list">
    <h1 align="center" class="mb-5">Tabel KRS Moodle</h1>
    <v-card>
      <v-card-title>
        <v-text-field
          v-model="search"
          append-icon="mdi-magnify"
          label="Search"
          single-line
        >
        </v-text-field>
        <v-spacer></v-spacer>
          <v-btn color="success" dark @click="dialogReport = true">
            Export Excel
          </v-btn> 
      </v-card-title>
      <v-data-table :headers="headers" :items="data" :search="search" :loading="loadTable"
        loading-text="Load data.. Please Wait!">
      </v-data-table>
    </v-card>

    <v-dialog v-model="dialogReport" persistent max-width="400px">
      <v-card class="font">
        <v-card-title> Export Data KRS Student to CSV </v-card-title>
        <v-card-text>
          <v-form ref="form" v-model="valid" lazy-validation>
            <v-select
              v-model="form.tahun"
              :items="tahun"
              label="Pilih Tahun Akademik"
              :item-text="'tahun_akademik'"
              :item-value="'tahun_akademik'"
            >
            </v-select>
            <v-select
              v-model="form.semester"
              :items="semester"
              label="Pilih Semester Akademik"
              :item-text="'semester'"
              :item-value="'semester'"
            >
            </v-select>
          </v-form>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="blue darken-1" text @click="close()"> Cancel </v-btn>
          <v-btn color="blue darken-1" text @click="setLaporan()">
            Export CSV
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <v-snackbar v-model="snackbar" :color="color" timeout="2000" bottom>
      {{ error_message }}
    </v-snackbar>
  </v-main>
</template>

<script>
export default {
  name: "List",
  data() {
    return {
      inputType: "Tambah",
      load: false,
      loadTable: true,
      snackbar: false,
      error_message: "",
      color: "",
      search: null,
      dialog: false,
      dialogReport: false,
      valid: true,
      headers: [
        { text: "ID KRS", align: "start", sortable: true, value: "id_krs" },
        { text: "NPM", value: "npm" },
        { text: "Kode KRS", value: "shortname" },
        { text: "Tanggal KRS", value: "tglkrs" },
      ],
      tahun: [],
      semester: [],
      data: [],
      form: {
        tahun: null,
        semester: null,
      },
      deleteId: "",
      editId: "",
    };
  },
  methods: {
    setForm() {
      if (this.inputType === "Tambah") {
        this.save();
      } else {
        this.update();
      }
    },
    readData() {
      var url = this.$api + `/krs_moodle`;
      this.$http
        .get(url, {
          headers: {
            Authorization: "Bearer " + localStorage.getItem("token"),
          },
        })
        .then((response) => {
          this.data = response.data.data;
          this.tahun = response.data.tahun;
          this.semester = response.data.semester;
          this.loadTable = false;
        })
        .catch((error) => {
          this.data = [];
          console.log(`${error.response.data.message} ${this.selectedPeriode}`);
        });
    },
    setLaporan() {
      window.open(
        `${this.$api}/export_krs_student?tahun=${this.form.tahun}&semester=${this.form.semester}`,
        "_blank"
      );
      this.close();
      this.readData(); //mengambil data
      this.resetForm();
    },
    close() {
      this.dialog = false;
      this.resetForm();
      this.dialogEdit = false;
      this.dialogmax = false;
      this.dialogConfirm = false;
      this.inputType = "Tambah";
      this.dialogReport = false;
    },
    cancel() {
      this.resetForm();
      this.readData();
      this.dialog = false;
      this.inputType = "Tambah";
    },

    resetForm() {
      this.form = {
        tahun: null,
        semester: null,
      };
    },
  },
  computed: {
    formTitle() {
      return this.inputType;
    },
  },
  mounted() {
    this.readData();
  },
};
</script>

<style scoped>
.styled-input {
  width: 230px;
}
@media (min-width: 56.25em) {
  /* 900px */
  .flex-parent {
    display: flex;
  }
}
.flex-child {
  flex: 1 1 0;
}
</style>