<!-- @format --> 

<template>
  <v-main class="list">
    <h1 align="center" class="mb-5">Tabel Mahasiswa Moodle</h1>
    <v-card>
      <v-card-title>
        <v-text-field
          v-model="search"
          append-icon="mdi-magnify"
          label="Search"
          single-line
        >
        </v-text-field>
        <v-spacer></v-spacer>
          <v-btn color="success" dark @click="setLaporan()">
            Export Excel
          </v-btn> 
      </v-card-title>
      <v-data-table :headers="headers" :items="data" :search="search" :loading="loadTable"
        loading-text="Load data..Please Wait!">>
      </v-data-table>
    </v-card>

    <v-snackbar v-model="snackbar" :color="color" timeout="2000" bottom>
      {{ error_message }}
    </v-snackbar>
  </v-main>
</template>

<script>
export default {
  name: "List",
  data() {
    return {
      inputType: "Tambah",
      load: false,
      snackbar: false,
      error_message: "",
      loadTable: true,
      color: "",
      search: null,
      dialog: false,
      dialogReport: false,
      valid: true,
      headers: [
        { text: "NPM", align: "start", sortable: true, value: "idnumber" },
        { text: "Nama", value: "full_name" },
        { text: "Email", value: "email" },
        { text: "Alamat", value: "address" },
      ],
      tahun: [],
      semester: [],
      data: [],
      form: {
        tahun: null,
        semester: null,
      },
      deleteId: "",
      editId: "",
    };
  },
  methods: {
    setForm() {
      if (this.inputType === "Tambah") {
        this.save();
      } else {
        this.update();
      }
    },
    readData() {
      var url = this.$api + `/mhs_moodle`;
      this.$http
        .get(url, {
          headers: {
            Authorization: "Bearer " + localStorage.getItem("token"),
          },
        })
        .then((response) => {
          this.data = response.data.data;
          this.loadTable = false;
        })
    },
    setLaporan() {
      window.open(
        `${this.$api}/export_maba?`,
        "_blank"
      );
      this.close();
      this.readData(); //mengambil data
      this.resetForm();
    },
    close() {
      this.dialog = false;
      this.resetForm();
      this.dialogEdit = false;
      this.dialogmax = false;
      this.dialogConfirm = false;
      this.inputType = "Tambah";
      this.dialogReport = false;
    },
    cancel() {
      this.resetForm();
      this.readData();
      this.dialog = false;
      this.inputType = "Tambah";
    },

    resetForm() {
      this.form = {
        tahun: null,
        semester: null,
      };
    },
  },
  computed: {
    formTitle() {
      return this.inputType;
    },
  },
  mounted() {
    this.readData();
  },
};
</script>

<style scoped>
.styled-input {
  width: 230px;
}
@media (min-width: 56.25em) {
  /* 900px */
  .flex-parent {
    display: flex;
  }
}
.flex-child {
  flex: 1 1 0;
}
</style>