<!-- @format --> 

<template>
  <v-main class="list">
    <h1 align="center" class="mb-5">Tabel Mata Kuliah Moodle</h1>
    <v-card>
      <v-card-title>
        <v-text-field
          v-model="search"
          append-icon="mdi-magnify"
          label="Search"
          single-line
        >
        </v-text-field>
        <v-spacer></v-spacer>
          <v-btn color="success" dark @click="dialogReport = true">
            Export Excel
          </v-btn> 
      </v-card-title>
      <v-data-table :headers="headers" :items="data" :search="search" :loading="loadTable"
        loading-text="Load data..Please Wait!">
      </v-data-table>
    </v-card>

    <v-dialog v-model="dialogReport" persistent max-width="400px">
      <v-card class="font">
        <v-card-title> Set Tanggal Mulai-Akhir Matkul </v-card-title>
        <v-card-text>
          <v-form ref="form" v-model="valid" lazy-validation>
            <v-text-field
              v-model="form.startdate"
              label="17.04.2021"
              hint="Start Date Format dd.mm.yyyy"
              single-line
              persistent-hint
            >
            </v-text-field>
            <v-text-field
              v-model="form.enddate"
              label="28.04.2021"
              hint="End Date Format dd.mm.yyyy"
              single-line
              persistent-hint
            >
            </v-text-field>
          </v-form>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="blue darken-1" text @click="close()"> Cancel </v-btn>
          <v-btn color="blue darken-1" text @click="setLaporan()">
            Export Excel
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <v-snackbar v-model="snackbar" :color="color" timeout="2000" bottom>
      {{ error_message }}
    </v-snackbar>
  </v-main>
</template>

<script>
export default {
  name: "List",
  data() {
    return {
      inputType: "Input",
      load: false,
      snackbar: false,
      error_message: "",
      loadTable: true,
      color: "",
      search: null,
      dosen: new FormData(),
      user: new FormData(),
      dialog: false,
      dialogReport: false,
      valid: true,
      headers: [
        { text: "ID Kelas", align: "start", sortable: true, value: "id_kelas" },
        { text: "Kode Input", value: "shortname" },
        { text: "Nama Mata Kuliah", value: "fullname" },
      ],
      tahun: [],
      semester: [],
      data: [],
      form: {
        startdate: null,
        enddate: null,
      },
      deleteId: "",
      editId: "",
    };
  },
  methods: {
    readData() {
      this.prodi = localStorage.getItem("prodi");
      this.user.append('prodi', this.prodi); 
      var url = this.$api + `/matkul_moodle`;
      this.$http.post(url, this.user, {
          headers: {
            'Authorization': 'Bearer ' + localStorage.getItem('token')
          }
        })
        .then((response) => {
          this.data = response.data.data;
          this.loadTable = false;
        })
    },
    setLaporan() {
      window.open(
        `${this.$api}/export_matkul?startdate=${this.form.startdate}&enddate=${this.form.enddate}`,
        "_blank"
      );
      this.close();
      this.readData(); //mengambil data
      this.resetForm();
    },
    editHandler(item){
      this.inputType = 'Ubah';
      this.editId = item.idnumber;
      this.dialogemail = true;
    },
    close() {
      this.dialog = false;
      this.resetForm();
      this.dialogEdit = false;
      this.dialogmax = false;
      this.dialogConfirm = false;
      this.dialogReport = false;
    },
    cancel() {
      this.resetForm();
      this.readData();
      this.dialog = false;
    },

    resetForm() {
      this.form = {
        email: null,
      };
    },
  },
  computed: {
    formTitle() {
      return this.inputType;
    },
  },
  mounted() {
    this.readData();
  },
};
</script>

<style scoped>
.styled-input {
  width: 230px;
}
@media (min-width: 56.25em) {
  /* 900px */
  .flex-parent {
    display: flex;
  }
}
.flex-child {
  flex: 1 1 0;
}
</style>