<!-- @format --> 

<template>
  <v-main class="list">
    <h1 align="center" class="mb-5">Tabel Daftar Mata Kuliah Siatma</h1>
    <v-card>
      <v-card-title>
        <v-text-field
          v-model="search"
          append-icon="mdi-magnify"
          label="Search"
          single-line
        >
        </v-text-field>
      </v-card-title>
      <v-data-table :headers="headers" :items="data" :search="search" :loading="loadTable"
        loading-text="Load data..Please Wait!">
        <template v-slot:[`item.actions`]="{ item }">
          <v-icon
            color="yellow darken-2"
            small
            class="mr-2"
            @click="editHandler(item)"
            >mdi-pencil</v-icon
          >
          <v-icon
            color="red darken-2"
            small
            class="mr-2"
            @click="deleteHandler(item.ID_EVENTS)"
            >mdi-delete</v-icon
          >
        </template>
      </v-data-table>
    </v-card>

    <v-snackbar v-model="snackbar" :color="color" timeout="2000" bottom>
      {{ error_message }}
    </v-snackbar>
  </v-main>
</template>

<script>
export default {
  name: "List",
  data() {
    return {
      inputType: "Tambah",
      load: false,
      snackbar: false,
      error_message: "",
      loadTable: true,
      color: "",
      search: null,
      dialog: false,
      valid: true,
      headers: [
        { text: "Kode Mata Kuliah", align: "start", sortable: true, value: "KODE_MK" },
        { text: "Nama Mata Kuliah", value: "NAMA_MK" },
        { text: "Jumlah SKS", value: "SKS" },
        { text: "Kelas", value: "KELAS" },
        { text: "Tahun Akademik", value: "ID_TAHUN_AKADEMIK" },
        { text: "Semester", value: "NO_SEMESTER" },
      ],
      event: new FormData(),
      user: new FormData,
      types: [],
      data: [],
      form: {
        idperiode: null,
        name: null,
        description: null,
        type: null,
        datestart: null,
        datefinish: null,
      },
      deleteId: "",
      editId: "",
    };
  },
  methods: {
    setForm() {
      if (this.inputType === "Tambah") {
        this.save();
      } else {
        this.update();
      }
    },
    readData() {
      this.prodi = localStorage.getItem("prodi");
      this.user.append('prodi', this.prodi); 
      var url = this.$api + `/matkul_siatma`;
      this.$http.post(url, this.user, {
          headers: {
            'Authorization': 'Bearer ' + localStorage.getItem('token')
          }
        })
        .then((response) => {
          this.data = response.data.data;
          this.loadTable = false;
        });
    },

    close() {
      this.dialog = false;
      this.resetForm();
      this.dialogEdit = false;
      this.dialogmax = false;
      this.dialogConfirm = false;
      this.inputType = "Tambah";
    },
    cancel() {
      this.resetForm();
      this.readData();
      this.dialog = false;
      this.inputType = "Tambah";
    },

    resetForm() {
      this.form = {
        idperiode: null,
        name: null,
        description: null,
        type: null,
      };
    },
  },
  computed: {
    formTitle() {
      return this.inputType;
    },
  },
  mounted() {
    this.readData();
  },
};
</script>

<style scoped>
.styled-input {
  width: 230px;
}
@media (min-width: 56.25em) {
  /* 900px */
  .flex-parent {
    display: flex;
  }
}
.flex-child {
  flex: 1 1 0;
}
</style>