<!-- @format -->

<template>
    <div class="dashboard font">
       <v-navigation-drawer v-model="drawer" :color="orange" width="256" app>
       
        <v-divider></v-divider>
            <v-list dense nav>
               <v-list-item
                    link
                    tag="router-link"
                    to="/dashboard"
                > 
                      <v-list-item-title><b>Admin Home</b></v-list-item-title>
                </v-list-item>
                
                  <v-list-group  v-for="(item, index) in items"
                    :key="`sidebar-${index}`"
                    link
                    tag="router-link"
                  >

                  <template v-slot:activator>
                      <v-list-item-content>
                    <v-list-item-title><b>{{item.title}}</b></v-list-item-title>
                      </v-list-item-content>
                  </template>

                  <div v-if="item.children">
                    <v-list-item
                          v-for="(c,index) in item.children"
                          :key="`sidesub-${index}`"
                          
                          link
                          tag="router-link"
                          :to="c.to"
                      >
                          <v-list-item-title>{{c.sub_name}}</v-list-item-title>
                      </v-list-item>
                  </div>   
                </v-list-group> 
                </v-list>
            </v-navigation-drawer>


            <v-app-bar color="#3f51b5" app fixed height="75px">
                <span class="hidden-md-and-up">
                  <v-app-bar-nav-icon @click.stop="drawer = !drawer" color="white"></v-app-bar-nav-icon>
                </span>
                <v-app-bar-title> 
                  <router-link to="/dashboard">
                  <img
                src="../assets/logouajy.png"
                alt="logo uajy"
                height="50px"
           
              />
              </router-link>
        
              </v-app-bar-title>
                <VSpacer />
                <v-toolbar-items class="hidden-sm-and-down">
                    <v-menu offset-y 
                    v-for="(item, index) in items"
                  :key="`menu-${index}`">
              <template v-slot:activator="{ on, attrs }">
                 <v-btn
                  text              
                  style="color:white"
                    v-bind="attrs"
                v-on="on">
                  {{ item.title }}
                        </v-btn>
              </template>
            
              <v-list v-if="item.children">
                <v-list-item
                  v-for="(c, index) in item.children"
                  :key="`submenu-${index}`">
                
                  <v-list-item-title><router-link style=" text-decoration:none" :to="c.to">{{ c.sub_name }}</router-link></v-list-item-title>
                </v-list-item>
              </v-list>
                </v-menu>
                   
                     <v-btn text router: @click="logoutFuction()"><v-icon color="white">mdi-power</v-icon></v-btn>
                  
                </v-toolbar-items>
            </v-app-bar>
            <div class="fullheight pa-5">
              <router-view></router-view>
            </div>
        </div> 
</template>
<script>
export default {
  name: "Dashboard",
  data() {
    return {
      drawer: false,
      items: [],
      orange: "#f1ad1b",
    };
  },
  methods: {
    logoutFuction() {
      localStorage.removeItem("token");
      this.error_message = "Log Out Success";
      this.color = "green";
      this.snackbar = true;
      this.load = false;
      this.$router.push({
        name: "Login",
      });
    },

    dashboardManager() {
      //this.items.push({ title: "Dashboard", to: "/dashboard" });
      //this.items.push({ title: "Mahasiswa Siatma", to: "/mhs_siatma" });
      //this.items.push({ title: "Program Studi Siatma", to: "/prodi_siatma" });
      this.items.push({ title: "Fakultas Siatma", to: "/fakultas_siatma" });
      this.items.push({ title: "Matkul Siatma", to: "/matkul_siatma" });
      this.items.push({ title: "Semester Akademik Siatma", to: "/smaksi" });
      this.items.push({ title: "Dosen Siatma", to: "/dosen_siatma" });
      this.items.push({ title: "KRS Siatma", xto: "/krs_siatma" });
      this.items.push({ title: "Mahasiswa Baru", to: "/mhs_baru" });
      this.items.push({ title: "Dosen Baru", to: "/dosen_baru" });
      this.items.push({ title: "Prodi Baru", to: "/prodi_baru" });
      this.items.push({ title: "Fakultas Baru", to: "/fakultas_baru" });
      this.items.push({ title: "Mata Kuliah Baru", to: "/matkul_baru" });
      this.items.push({ title: "Semester Akademik Baru", to: "/smak_baru" });
      this.items.push({ title: "Krs Baru", to: "/krs_baru" });
      this.items.push({ title: "Krs Moodle", to: "/krs_moodle" });
      this.items.push({ title: "Mahasiswa Moodle", to: "/mhs_moodle" });
      this.items.push({ title: "Dosen Moodle", to: "/dsnmoodle" });
      this.items.push({ title: "Krs Dosen Baru", to: "/krsdsn_baru" });
      this.items.push({ title: "Krs Dosen Moodle", to: "/krsdsn_moodle" });
      this.items.push({ title: "Mata Kuliah Moodle", to: "/matkul_moodle" });
      this.items.push({ title: "User Bridging", to: "/user" });
    },

    navbarMenu() {
      this.prodi = localStorage.getItem("prodi")
      if(this.prodi == "admin"){
        // this.items.push({
      //   title: "Admin Home",
      //   to: "/dashboard",
      // });
      this.items.push({
        title: "User",
        children: [
          { sub_name: "User Access", to: "user" },
        ],
      });
      this.items.push({
        title: "Mahasiswa",
        children: [
          { sub_name: "Mahasiswa SIATMA", to: "mhs_siatma" },
          { sub_name: "Mahasiswa Baru", to: "mhs_baru" },
          { sub_name: "Mahasiswa Moodle", to: "mhs_moodle" },
        ],
      });
      this.items.push({
        title: "Dosen",
        children: [
          { sub_name: "Dosen SIMKA", to: "dosen_siatma" },
          { sub_name: "Dosen Baru", to: "dosen_baru" },
          { sub_name: "Dosen Moodle", to: "dsnmoodle" },
        ],
      });
      // this.items.push({
      //   title: "Moodle",
      //   children: [{ sub_name: "User Moodle", to: "dosen_siatma" }],
      // });
      this.items.push({
        title: "Prodi",
        children: [
          { sub_name: "Fakultas SIATMA", to: "fakultas_siatma" },
          { sub_name: "Prodi SIATMA", to: "prodi_siatma" },
          { sub_name: "Semester Akademik SIATMA", to: "smaksi" },
          { sub_name: "Fakultas Baru", to: "fakultas_baru" },
          { sub_name: "Prodi Baru", to: "prodi_baru" },
          { sub_name: "Semester Akademik Baru", to: "smak_baru" },
        ],
      });
      this.items.push({
        title: "Mata Kuliah",
        children: [
          { sub_name: "Mata Kuliah SIATMA", to: "matkul_siatma" },
          { sub_name: "Mata Kuliah Moodle", to: "matkul_moodle" },
          { sub_name: "Mata Kuliah Baru", to: "matkul_baru" },
        ],
      });
      this.items.push({
        title: "KRS Mahasiswa",
        children: [
          { sub_name: "KRS SIATMA", to: "krs_siatma" },
          { sub_name: "KRS Mahasiswa Moodle", to: "krs_moodle" },
          { sub_name: "KRS Mahasiswa Baru", to: "krs_baru" },
        ],
      });
      this.items.push({
        title: "Enroll Dosen",
        children: [
          { sub_name: "KRS Dosen Moodle", to: "krsdsn_moodle" },
          { sub_name: "KRS Dosen Baru", to: "krsdsn_baru" },
        ],
      });
      }else{
        this.items.push({
        title: "Mahasiswa",
        children: [
          { sub_name: "Mahasiswa SIATMA", to: "mhs_siatma" },
          { sub_name: "Mahasiswa Baru", to: "mhs_baru" },
          { sub_name: "Mahasiswa Moodle", to: "mhs_moodle" },
        ],
      });
      this.items.push({
        title: "Mata Kuliah",
        children: [
          { sub_name: "Mata Kuliah SIATMA", to: "matkul_siatma" },
          { sub_name: "Mata Kuliah Moodle", to: "matkul_moodle" },
          { sub_name: "Mata Kuliah Baru", to: "matkul_baru" },
        ],
      });
      this.items.push({
        title: "KRS Mahasiswa",
        children: [
          { sub_name: "KRS SIATMA", to: "krs_siatma" },
          { sub_name: "KRS Mahasiswa Moodle", to: "krs_moodle" },
          { sub_name: "KRS Mahasiswa Baru", to: "krs_baru" },
        ],
      });
      this.items.push({
        title: "Enroll Dosen",
        children: [
          { sub_name: "KRS Dosen Moodle", to: "krsdsn_moodle" },
          { sub_name: "KRS Dosen Baru", to: "krsdsn_baru" },
        ],
      });
      }
      
    },
  },
  mounted() {
    this.navbarMenu();
  },
};
</script> 

<style scoped>
.fullheight {
  min-height: 100vh !important;
}
.router {
  text-decoration: none;
  color: white;
}
</style>