<template>
  <v-main class="font">
    <h1>Selamat Datang di Dashboard Bridging</h1>
    Bridging merupakan sebuah aplikasi untuk mempermudah layanan integrasi KRS
    dengan situs kuliah. Aplikasi ini berfungsi menjembatani basis data SIATMA
    dengan basis data MOODLE (situs kuliah).
  </v-main>
</template>

<script>
export default {
  mounted() {
    this.loadingCursor();
  },
  methods: {
    loadingCursor() {
      // When the window has finished loading, set it back to default...
      document.body.style.cursor = "default";
    },
  },
};
</script>