<template>
   <v-app id="inspire">
      <v-main>
         <v-container fluid fill-height>
            <v-layout align-center justify-center>
               <v-flex xs12 sm8 md4>
                  <v-card class="elevation-12">
                     <v-toolbar dark color="primary">
                        <v-toolbar-title>Login Bridging</v-toolbar-title>
                     </v-toolbar>
                      <v-card-text>
                        <v-form
                           ref="form"
                           @submit.prevent="submit"
                           lazy-validation
                           class="mx-2"
                        >
                           <v-text-field
                              prepend-icon="mdi-account"
                              v-model="login.username"
                              label="Login"
                              type="text"
                              :rules="usernameRules"
                           ></v-text-field>
                           <v-text-field
                              id="password"
                              prepend-icon="mdi-lock"
                              v-model="login.password"
                              label="Password"
                              :rules="passwordRules"
                              type="password"
                           ></v-text-field>
                     <v-card-actions>
                        <v-spacer></v-spacer>
                        <v-btn color="primary" type="submit">Login</v-btn>
                     </v-card-actions>
                  </v-form>
                  </v-card-text> 
                  </v-card>
               </v-flex>
            </v-layout>
         </v-container>
      </v-main>
   </v-app>
</template>

<script>
export default {
  name: "Login",
  data() {
    return {
      load: false,
      snackbar: false,
      error_message: "",
      color: "",
      login: {
        username: "",
        password: "",
      },
      usernameRules: [(v) => !!v || "Username tidak boleh kosong!"],
      passwordRules: [(v) => !!v || "Password tidak boleh kosong!"],
    };
  },

  methods: {
    loadingCursor() {
      document.body.style.cursor = "wait";
    },
  
    submit() {
      this.loadingCursor()
      if (this.$refs.form.validate()) {
        //cek apakah data yang akan dikirim sudah valid
        this.load = true;
        this.$http
          .post(this.$api + "/login", {
            username: this.login.username,
            password: this.login.password,
          })
          .then((response) => {
            localStorage.setItem("name", response.data.user.name); //menyimpan id user yang sedang login
            localStorage.setItem("username", response.data.user.username);
            localStorage.setItem("prodi", response.data.user.prodi);
            localStorage.setItem("token", response.data.access_token); //menyimpan auth token
            this.error_message = response.data.message;
            this.color = "green";
            this.snackbar = true;
            this.load = false;
            this.$router.replace("/mhs_siatma");
            this.clear();
          })
      }
    },

    clear() {
      this.$refs.form.reset(); //Clear form login
    },
  },
};
</script>

<style></style>
