<!-- @format --> 

<template> 
    <v-main class="list"> 
        <h3 align="center" class="text-h3 font-weight-medium mb-5"> Pengolahan Data User Website Bridging </h3> 
        <v-card>
            <v-card-title>
                <v-text-field
                    v-model="search" 
                    append-icon="mdi-magnify"
                    label="Search" 
                    single-line 
                    hide-details>
                    </v-text-field> 
                <v-spacer></v-spacer> 
                <v-btn color="success" dark @click="dialog = true">
                    Tambah User
                </v-btn> 
                </v-card-title>
                <v-data-table :headers="headers" :items="users" :search="search">
                    <template v-slot:[`item.actions`]="{ item }">
                         <v-btn small class="mr-2" @click="show(item)">
                            show
                        </v-btn>
                        <v-btn color="yellow" small class="mr-2" @click="editHandler(item)">
                            edit user
                        </v-btn>
                        <v-btn small color="red" @click="deleteHandler(item)">
                            delete
                        </v-btn>
                    </template>
                </v-data-table>
        </v-card>

        <v-dialog v-model="dialog" persistent max-width="600px">
            <v-card>
                <v-card-title>
                    <span class="headline">{{ formTitle }} user</span> 
                </v-card-title>
                <v-card-text>
                    <v-container>
                        <v-text-field
                            v-model="form.name"
                            label="Nama user" 
                            required
                        ></v-text-field>

                        <v-select
                            :items="prodis"
                            :item-text="'nama_prodi'"
                            :item-value="'id_prodi'"
                            v-model="form.prodi"
                            label="Prodi"
                            required
                        ></v-select>

                        <v-text-field 
                            v-model="form.username"
                            label="Username"
                            required
                        ></v-text-field>

                        <v-text-field 
                            v-model="form.password"
                            label="Password"
                            append-icon="value ? mdi-eye : 'visibility_off"
                            @click:append="() => (value = !value)"
                            :type="value ? 'password' : 'text'"
                            required
                        ></v-text-field>
                    </v-container>
                </v-card-text>
                <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn color="blue darken-1" text @click="cancel">
                        Cancel
                    </v-btn>
                    <v-btn color="blue darken-1" text @click="setForm">
                        Save
                    </v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>

        <v-dialog v-model="dialogedit" persistent max-width="600px">
            <v-card>
                <v-card-title>
                    <span class="headline">{{ formTitle }} User Web Bridging</span> 
                </v-card-title>
                <v-card-text>
                    <v-container>
                        <v-text-field
                            v-model="form.username"
                            label="Username" 
                            required
                        ></v-text-field>

                        <v-text-field 
                            v-model="form.password"
                            label="Password Baru"
                            append-icon="value ? mdi-eye : 'visibility_off"
                            @click:append="() => (value = !value)"
                            :type="value ? 'password' : 'text'"
                            required
                        ></v-text-field>
                    </v-container>
                </v-card-text>
                <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn color="blue darken-1" text @click="canceledit">
                        Cancel
                    </v-btn>
                    <v-btn color="blue darken-1" text @click="setForm">
                        Save
                    </v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>

        <v-dialog v-model="dialogshow" persistent max-width="600px">
            <v-card>
                <v-card-title>
                    <span class="headline">{{ formTitle }} User Web Bridging</span> 
                </v-card-title>
                <v-card-text>
                    <v-container>
                       <v-text-field
                            v-model="form.name"
                            label="Nama user" 
                            readonly
                        ></v-text-field>

                        <v-select
                            :items="prodis"
                            v-model="form.prodi"
                            :item-text="'nama_prodi'"
                            :item-value="'id_prodi'"
                            label="Prodi"
                            readonly
                        ></v-select>

                        <v-text-field 
                            v-model="form.username"
                            label="Username"
                            readonly
                        ></v-text-field>

                        <v-text-field 
                            v-model="form.created"
                            label="Created At"
                            readonly
                        ></v-text-field>

                        <v-text-field 
                            v-model="form.updated"
                            label="Updated At"
                            readonly
                        ></v-text-field>
                    </v-container>
                </v-card-text>
                <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn color="blue darken-1" text @click="close">
                        Close
                    </v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>

        <v-dialog v-model="dialogConfirm" persistent max-width="400px">
            <v-card>
                <v-card-title>
                    <span class="headline">warning!</span> 
                </v-card-title>
                <v-card-text>
                    Anda yakin ingin menghapus user ini?
                </v-card-text>
                <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn color="blue darken-1" text @click="dialogConfirm = false">
                        Cancel
                    </v-btn>
                    <v-btn color="blue darken-1" text @click="deleteData"> 
                        Delete
                    </v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>

        <v-snackbar v-model="snackbar" :color="color" timeout="2000" bottom>
            {{error_message}}
        </v-snackbar>
             </v-main>
</template>
    <script>
            export default {
                name: "List",
                data() {
                    return {
                        inputType: 'Tambah',
                        load: false,
                        snackbar: false,
                        error_message: '',
                        color: '',
                        value: true,
                        search: null,
                        dialog: false,
                        dialogConfirm: false,
                        headers: [
                            {   text: "Nama User",
                                align: "start", 
                                sortable: true,
                                value: "name" },
                            { text: "Prodi", value: "prodi" },
                            { text: "Username", value: "username" },
                            { text: "Actions", value: "actions" }, 
                        ],
                        user: new FormData,
                        users: [],
                        prodis: [],
                        menus: [],
                        form: {
                            name: null,
                            prodi: null,
                            username: null,
                            password: null,
                            created: null,
                            updated: null,
                        },
                        deleteId: '',
                        editId: ''
                    };
                },
                 methods: {
                     setForm() {
                         if (this.inputType === 'Tambah') {
                             this.save()
                        } else { 
                            this.update()
                        }
                     },
                     //read data user
                     readData() { 
                         var url = this.$api + '/user'
                         this.$http.get(url, {
                             headers: {
                                 'Authorization': 'Bearer ' + localStorage.getItem('token')
                             }
                            }).then(response => {
                            this.users = response.data.data
                            this.prodis = response.data.unit
                        })
                     },
                     //simpan data user
                     save() {
                         this.user.append('name', this.form.name);
                         this.user.append('prodi', this.form.prodi); 
                         this.user.append('username', this.form.username);
                         this.user.append('password', this.form.password);

                         var url = this.$api + '/user'
                         this.load = true
                         this.$http.post(url, this.user, {
                             headers: {
                                 'Authorization': 'Bearer ' + localStorage.getItem('token')
                             }
                            }).then(response => {
                                this.error_message=response.data.message;
                                this.color="green"
                                this.snackbar=true; 
                                this.load = false;
                                this.close();
                                this.readData(); //mengambil data
                                this.resetForm(); 
                            }).catch(error => { 
                                this.error_message=error.response.data.message;
                                this.color="red" 
                                this.snackbar=true;
                                this.load = false;
                            })
                    },
                    //ubah data user
                    update() {
                        let newData = { 
                            username: this.form.username,
                            password: this.form.password,
                            }
                        var url = this.$api + '/user/' + this.editId;
                        this.load = true
                        this.$http.put(url, newData, {
                                headers: {
                                    'Authorization': 'Bearer ' + localStorage.getItem('token')
                                }
                            }).then(response => {
                                this.error_message=response.data.message;
                                this.color="green" 
                                this.snackbar=true;
                                this.load = false; 
                                this.closeTambah();
                                this.readData(); //mengambil data
                                this.resetForm();
                                this.dialogedit = false;
                            }).catch(error => { 
                                this.error_message=error.response.data.message; 
                                this.color="red"
                                this.snackbar=true;
                                this.load = false; 
                            })
                         },
                    editHandler(item){
                        this.inputType = 'Ubah';
                        this.editId = item.id;
                        this.form.name = item.name;
                        this.form.prodi = item.prodi; 
                        this.form.username = item.username;
                        this.dialogedit = true;
                    },
                    close() {
                        this.resetForm();
                        this.readData();
                        this.dialog = false;
                        this.dialogedit = false;
                        this.dialogshow = false;
                        this.inputType = 'Tambah';
                    },
                    closeTambah() {
                        this.resetForm();
                        this.readData(); 
                        this.dialog = false; 
                        this.inputType = 'Tambah';
                    },
                    cancel() {
                        this.resetForm();
                        this.readData(); 
                        this.dialog = false; 
                        this.inputType = 'Tambah';
                    },
                    canceledit() {
                        this.resetForm();
                        this.readData(); 
                        this.dialogedit = false; 
                    },
                    resetForm() {
                        this.form = {
                            name: null,
                            prodi: null,
                            username: null,
                            password: null,
                        };
                    },
                    show(item) {
                        this.inputType = 'Tampil';
                        this.editId = item.id;
                        this.form.name = item.name;
                        this.form.username = item.username;
                        this.form.prodi = item.prodi; 
                        this.form.created = item.created_at;
                        this.form.updated = item.updated_at
                        this.dialogshow = true;
                    },
                    deleteHandler(item){
                        this.deleteId = item.id;
                        this.dialogConfirm = true;
                    },
                    //hapus data reservasi
                    deleteData() { 
                        //mengahapus data
                        var url = this.$api + '/user/' + this.deleteId;
                        //data dihapus berdasarkan id 
                        this.$http.delete(url, { 
                            headers: {
                                'Authorization': 'Bearer ' + localStorage.getItem('token')
                            }
                        }).then(response => {
                            this.error_message=response.data.message;
                            this.color="green" 
                            this.snackbar=true;
                            this.load = false;
                            this.close();
                            this.readData(); //mengambil data
                            this.resetForm();
                            this.inputType = 'Tambah';
                            this.dialogConfirm = false;
                        }).catch(error => {
                            this.error_message=error.response.data.message;
                            this.color="red" 
                            this.snackbar=true;
                            this.load = false;
                        })
                    },
                 },
                 computed: {
                     formTitle() {
                         return this.inputType
                    },
                 }, 
                 mounted() {
                     this.readData();
                    },
                };
        </script>